<div id="main">
    <div class="page-heading">
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-md-6 order-md-1 order-last">
                    <h3>ALL Credit Book Details</h3>
                </div>
                <div class="col-12 col-md-6 order-md-1 order-last buttons">
                    <a class="btn btn-primary float-md-end" href="/admin/add-credit-book">Add Credit Book</a>
                </div>
            </div>
        </div>
        <section class="section">
            <div class="card">
                <div class="card-header">
                    <!--write some eding here -->
                </div>
                <div class="card-body">

                    <table class="table" id="table1">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Staff Name</th>
                                <th>Current Amount</th>
                                <th>Balance Amount</th>
                                <th>Party Name </th>
                                <th>Payment Mode</th>
                                <th colspan="2">Options</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each creditBooks}}
                            <tr>
                                <td>{{this.date}}</td>
                                <td>{{this.staffName}}</td>
                                <td>{{this.currentAmount}}</td>
                                <td>{{this.balanceAmount}}</td>
                                <td>{{this.partyName}}</td>
                                <td>{{this.paymentMode}}</td>
                               
                                <td class="buttons">
                                    <a href="/admin/edit-credit-book/{{this._id}}"
                                        class=" btn btn-primary d-flex justify-content-center"
                                        style="width: 150px;">Edit</a>
                                    <a href="/admin/delete-credit-book/{{this._id}}"
                                        class=" btn btn-danger d-flex justify-content-center"
                                        onclick="deleteProduct(event)" style="width: 150px;">Delete</a>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>

                </div>
            </div>

        </section>
    </div>
</div>