<div id="main">
    <div class="page-heading">
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-md-6 order-md-1 order-last">
                    <h3>ALL Dealer Details</h3>
                </div>
                <div class="col-12 col-md-6 order-md-1 order-last buttons">
                    <a class="btn btn-primary float-md-end" href="/admin/add-dealer-detail">Add Dealer Detail</a>
                </div>
            </div>
        </div>
        <section class="section">
            <div class="card">
                <div class="card-header">
                    <!--write some eding here -->
                </div>
                <div class="card-body">

                    <table class="table" id="table1">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Shop Name</th>
                                <th>Phone Number</th>
                                <th>Product Type </th>
                                <th>Product Name </th>
                                <th>Quantity</th>
                                <th>Price</th>
                                <th>Total Amount</th>
                                <th>Old Balance</th>
                                <th>Amount Received</th>
                                <th colspan="2">Options</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each dealerDetails}}
                            <tr>
                                <td>{{this.date}}</td>
                                <td>{{this.shopName}}</td>
                                <td>{{this.mobile}}</td>
                                <td>{{this.productType}}</td>
                                <td>{{this.productName}}</td>
                                <td>{{this.quantity}}</td>
                                <td>{{this.price}}</td>
                                <td>{{this.totalAmount}}</td>
                                 <td>{{this.oldBalance}}</td>
                                <td>{{this.amountReceived}}</td>
                                <td class="buttons">
                                    <a href="/admin/edit-dealer-detail/{{this._id}}"
                                        class=" btn btn-primary d-flex justify-content-center"
                                        style="width: 150px;">Edit</a>
                                    <a href="/admin/delete-dealer-details/{{this._id}}"
                                        class=" btn btn-danger d-flex justify-content-center"
                                        onclick="deleteProduct(event)" style="width: 150px;">Delete</a>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>

                </div>
            </div>

        </section>
    </div>
</div>