<section id="main">
    <div class="page-heading">
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-md-6 order-md-1 order-last">
                    <h3>Edit Monthly Square Feet Details</h3>
                </div>
            </div>
        </div>
        <section id="multiple-column-form">
            <div class="row match-height">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Enter the details of the Monthly Square Feet </h4>
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                <form method="POST" enctype="multipart/form-data"
                                    action="/admin/edit-monthly-square-feet/{{monthlySquareFeet._id}}" class="form">
                                    <div class="row">
                                        <div class="col-md-6 col-12">
                                            <div class="form-group">
                                                <label for="">Product</label>
                                                <input type="text" class="form-control" id="" name="product" value="{{monthlySquareFeet.product}}" required />
                                            </div>
                                        </div>
                                        <div class="form-group col-md-6 col-12">
                                            <label for="">Product Type</label>
                                            <select class="form-control" name="productType" id="">
                                                <option value="{{monthlySquareFeet.productType}}" >{{monthlySquareFeet.productType}} </option>
                                                <option value="JD">JD </option>
                                                <option value="Windows">Windows</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="form-group">
                                                <label for="">Total</label>
                                                <input type="number" class="form-control" id="" name="total" value="{{monthlySquareFeet.total}}" required />
                                            </div>
                                        </div>


                                        <div class="col-md-6 col-12">
                                            <div class="form-group">
                                                <label for="">Month Year</label>
                                                <input type="string" class="form-control" id="" name="monthYear" value="{{monthlySquareFeet.monthYear}}" 
                                                    required />
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>