<section id="main">
    <div class="page-heading">
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-md-6 order-md-1 order-last">
                    <h3>Add Customer Details</h3>
                </div>
            </div>
        </div>
        <section id="multiple-column-form">
            <div class="row match-height">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Enter the details of the Customer</h4>
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                <form method="POST" enctype="multipart/form-data" action="/admin/edit-customer/{{customer._id}}"
                                    class="form">
                                    <div class="row">
                                        <div class="col-md-6 col-12">
                                            <div class="form-group">
                                                <label for="">Customer Name</label>
                                                <input type="text" class="form-control" id="" name="name" required
                                                    value="{{customer.name}}" />
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="form-group">
                                                <label for="">Customer Mobile No:</label>
                                                <input type="number" class="form-control" id="" name="mobile" required
                                                    value="{{customer.mobile}}" />
                                            </div>
                                        </div>

                                        <div class="form-group mb-3">
                                            <label for="exampleFormControlTextarea1" class="form-label">Address:</label>
                                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                                name="address" required >{{customer.address}}</textarea>
                                        </div>

                                        <div class="form-group">
                                            <label for="">Place</label>
                                            <input type="text" class="form-control" id="" name="place" required
                                                value="{{customer.place}}" />
                                        </div>
                                        <div class="form-group">
                                            <label for="">Customer Type</label>
                                            <select class="form-control" name="customerType" id="">
                                                <option value="{{customer.customerType}}">{{customer.customerType}}
                                                </option>
                                                <option value="Designer">Designer</option>
                                                <option value="Casual Customer">Casual Customer</option>
                                            </select>
                                        </div>
                                        <div class="form-group mb-3">
                                            <label for="exampleFormControlTextarea1"
                                                class="form-label">Products:</label>
                                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                                name="products" required >{{customer.products}}</textarea>
                                        </div>
                                        {{!-- <div class="form-group">
                                            <label for="">Category</label>
                                            <select class="form-control" name="category" id="">
                                                {{#each allCategory}}
                                                <option value="{{this.categoryName}}">{{this.categoryName}}</option>
                                                {{/each}}
                                            </select>
                                        </div> --}}
                                        <div class="form-group">
                                            <label for="">Branch Visted</label>
                                            <input type="text" class="form-control" id="" name="branchVisited" required
                                                value="{{customer.branchVisited}}" />
                                        </div>
                                        <div class="form-group">
                                            <label for="">Total Purchase Amount</label>
                                            <input type="number" class="form-control" id="" name="totalAmount"
                                                value="{{customer.totalAmount}}" />
                                        </div>
                                        <div class="form-group">
                                            <label for="">Payment Mode</label>
                                            <select class="form-control" name="paymentMode" id="">
                                                <option value="{{customer.paymentMode}}">{{customer.paymentMode}}
                                                </option>
                                                <option value="Not Recived">Not Recived</option>
                                                <option value="Gpay">Gpay</option>
                                                <option value="Cash">Cash</option>
                                                <option value="Card">Card</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="branchVisitedDate">Branch visited Date</label>
                                            <input type="date" class="form-control" id="branchVisitedDate"
                                                name="branchVisitedDate" value="{{customer.branchVisitedDate}}" />
                                        </div>
                                        <div class="form-group">
                                            <label for="installationDate">Installation Date</label>
                                            <input type="date" class="form-control" id="installationDate"
                                                name="installationDate" value="{{customer.installationDate}}" />
                                        </div>
                                        <div class="form-group">
                                            <label for="paymentDate">Payment Date</label>
                                            <input type="date" class="form-control" id="paymentDate" name="paymentDate"
                                                value="{{customer.paymentDate}}" />
                                        </div>
                                        <div class="form-group">
                                            <label for="">Customer review</label>
                                            <select class="form-control" name="rating" id="">
                                                <option value="{{customer.rating}}">{{customer.rating}}</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="5">NA</option>

                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>