<section class="py-5">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-6">
        <!-- PRODUCT SLIDER-->
        <div class="row m-sm-0">
          <div class="col-sm-2 p-sm-0 order-2 order-sm-1 mt-2 mt-sm-0">
            <div class="owl-thumbs d-flex flex-row flex-sm-column" data-slider-id="1">
              {{#if product.firstImageExists}}
              <div class="owl-thumb-item flex-fill mb-2 mr-2 mr-sm-0"><img class="w-100"
                  src="/images/{{product._id}}first.jpg" alt="..."></div>
              {{/if}}
              {{#if product.secondImageExists}}
              <div class="owl-thumb-item flex-fill mb-2 mr-2 mr-sm-0"><img class="w-100"
                  src="/images/{{product._id}}second.jpg" alt="..."></div>
              {{/if}}
              {{#if product.thirdImageExists}}
              <div class="owl-thumb-item flex-fill mb-2 mr-2 mr-sm-0"><img class="w-100"
                  src="/images/{{product._id}}third.jpg" alt="..."></div>
              {{/if}}
              {{#if product.fourthImageExists}}
              <div class="owl-thumb-item flex-fill mb-2">
                <img class="w-100" src="/images/{{product._id}}fourth.jpg" alt="...">
              </div>
              {{/if}}
            </div>
          </div>
          <div class="col-sm-10 order-1 order-sm-2">
            <div class="owl-carousel product-slider" data-slider-id="1">

              <a class="d-block" src="/images/{{product._id}}first.jpg" data-lightbox="product"
                title='{{product.name}}'>
                <img class="img-fluid" src="/images/{{product._id}}first.jpg" alt="...">
              </a>

              <a class="d-block" href="/images/{{product._id}}second.jpg" data-lightbox="product"
                title='{{product.name}}'>
                <img class="img-fluid" src="/images/{{product._id}}second.jpg" alt="...">
              </a>

              <a class="d-block" href="/images/{{product._id}}third.jpg" data-lightbox="product"
                title='{{product.name}}'>
                <img class="img-fluid" src="/images/{{product._id}}third.jpg" alt="...">
              </a>

              <a class="d-block" href="/images/{{product._id}}fourth.jpg" data-lightbox="product"
                title='{{product.name}}'>
                <img class="img-fluid" src="/images/{{product._id}}fourth.jpg" alt="...">
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- PRODUCT DETAILS-->
      <div class="col-lg-6">

        <h1>{{product.name}}</h1>

        <p class="text-muted lead">Original price : <strong>₹{{product.price2}} </strong></p>
        <p class="text-muted lead">Offer :<strong>{{product.offer}}%</strong></p>
        <p class="text-muted lead">Discount price : <strong>₹{{product.price}}</strong> </p>
        <p class="text-small mb-4">{{product.description}}</p>
        <div class="row align-items-stretch mb-4">

          <div class="col-sm-3 pl-sm-0">
            <button onclick="addToCart('{{product._id}}')"
              class="btn btn-dark btn-sm btn-block h-100 d-flex align-items-center justify-content-center px-0">Add to
              cart</button>
          </div>
        </div>

        <br>
        <ul class="list-unstyled small d-inline-block">
          <li class="px-3 py-2 mb-1 bg-white"><strong class="text-uppercase">Category:</strong><span
              class="ml-2 text-muted">{{product.category}}</span></li>
          <li class="px-3 py-2 mb-1 bg-white"><strong class="text-uppercase">Brand:</strong><span
              class="ml-2 text-muted">{{product.brand}} </span></li>
          {{#if size}}
          <li class="px-3 py-2 mb-1 bg-white"><strong class="text-uppercase">Product Size:</strong><span
              class="ml-2 text-muted">{{product.size}}</span></li>
          {{/if}}
          {{#if colour}}
          <li class="px-3 py-2 mb-1 bg-white"><strong class="text-uppercase">Colour:</strong><span
              class="ml-2 text-muted">{{product.colour}}</span></li>
          {{/if}}
          {{#if design}}
          <li class="px-3 py-2 mb-1 bg-white"><strong class="text-uppercase">Product Design:</strong><span
              class="ml-2 text-muted">{{product.design}}</span></li>
          {{/if}}

        </ul>
      </div>
    </div>


    <!-- RELATED PRODUCTS-->
    <h2 class="h5 text-uppercase mb-4">Related products</h2>
    <div class="row">
      <!-- PRODUCT-->
      {{#each relatedProducts}}
      <div class="col-xl-3 col-lg-4 col-sm-6">
        <div class="product text-center">
          <div class="position-relative mb-3">
            <div class="badge text-white badge-"></div><a class="d-block" href="/view-single-product/{{this._id}}"><img
                class="img-fluid w-100" src="/images/{{this._id}}first.jpg" alt="..."></a>
            <div class="product-overlay">
              <ul class="mb-0 list-inline">

                <li class="list-inline-item m-0 p-0"><button onclick="addToCart('{{this._id}}')"
                    class="btn btn-sm btn-dark">Add to cart</button></li>
                <li class="list-inline-item mr-0"><a class="btn btn-sm btn-outline-dark"
                    href="/view-single-product/{{this._id}}"><i class="fas fa-expand"></i></a></li>
              </ul>
            </div>
          </div>
          <h6> <a class="reset-anchor" href="#">{{this.name}}</a></h6>
          <p class="small text-muted">Original Price: ₹{{this.price2}}</p>
          <p class="small text-muted">Offer: {{this.offer}} , Discount Price: ₹{{this.price}}</p>
        </div>
      </div>>
    </div>
    {{/each}}
  </div>

  <!-- RELATED PRODUCTS-->

  </div>
</section>